@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

body, p {
  margin: 0;
}
body {
  min-width: 1280px;
  overflow: hidden;
  font-family: "Noto Sans Japanese";
  /* min-width: 1440px; */
}

a {
  text-decoration: none;
  color: inherit;
}