{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "flowtype-errors/show-errors": "error",
    "consistent-return": "off",
    "generator-star-spacing": "off",
    "prefer-arrow-callback": "off",
    "max-len": [2, {"code": 200, "tabWidth": 4, "ignoreUrls": true}],
    "prefer-const": "off",
    "eol-last": "off",
    "dot-notation": "off",
    "func-names": "off",
    "prefer-template": "off",
    "no-floating-decimal": "off",
    "quote-props": "off",
    "yoda": ["error", "never", { "exceptRange": true }],
    "new-cap": "off",
    "global-require": "off",
    "import/imports-first": "off",
    "space-unary-ops": "off",
    "class-methods-use-this": ["off"],
    "linebreak-style": "off",

    "no-else-return": "off",
    "no-trailing-spaces": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "no-useless-constructor": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-mixed-operators": "off",
    "no-restricted-syntax": "off",
    "no-lonely-if": "off",
    "no-plusplus": "off",
    "no-useless-concat": "off",

    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": "off",

    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/self-closing-comp": "off",
    "react/no-string-refs": "off",
    "react/no-find-dom-node": "off",
    "react/jsx-boolean-value": "off",
    "react/sort-comp": "off",
    "react/forbid-prop-types": ["off"],
    "react/require-default-props": "off"
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
